/* stack colors */
$s1: #EEEEEE;
$s2: #F580FF;
$s3: #9554B3;
$s4: #492874;
$s5: #131313;

$s0: #AFAFAF;

$color-bg-light: #F7F7F7;
$color-success: #327A3A;
$color-error: #CE3131;

$font-size-base: 15px;
